# Default values for redis-consumer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  repository: "vanvalenlab/kiosk-redis-consumer"
  tag: "latest"
  pullPolicy: "Always"

resources: {}

service:
  type: "ClusterIP"

  httpIngressEnabled: true
  internalHttpPort: 8080
  httpTargetPort: 8080
  externalHttpPort: 8080

  httpsIngressEnabled: false

env:
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  TF_HOST: "overwrite_this"
  TF_PORT: "sepcify_me"
  DP_HOST: "overwrite_this"
  DP_PORT: "sepcify_me"
  AWS_REGION: "us-east-1"
  DEBUG: "True"
  CLOUD_PROVIDER: "aws"
  GKE_COMPUTE_ZONE: "us-west1-b"

secrets:
  AWS_ACCESS_KEY_ID: "change_me"
  AWS_SECRET_ACCESS_KEY: "change_me"
  AWS_S3_BUCKET: "change_me"
  GKE_BUCKET: "change_me"
