# Default values for frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  repository: "vanvalenlab/kiosk-frontend"
  tag: "latest"
  pullPolicy: "Always"

ingress:
  enabled: true
  path: /
  annotations: {}
    #kubernetes.io/ingress.class: "nginx"
    #nginx.ingress.kubernetes.io/rewrite-target: /
    #nginx.ingress.kubernetes.io/ssl-redirect: "false"
    #nginx.ingress.kubernetes.io/proxy-body-size: "25m"

service:
  type: "ClusterIP"

  httpIngressEnabled: true
  internalHttpPort: 8080
  httpTargetPort: 8080
  externalHttpPort: 8080

  httpsIngressEnabled: false
  internalHttpsPort: 8443
  httpsTargetPort: 8443
  externalHttpsPort: 8443

resources: {}

env:
  PORT: "8080"
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  MODEL_PREFIX: "models/"
  AWS_REGION: "us-east-1"
  CLOUD_PROVIDER: "aws"

secrets:
  AWS_ACCESS_KEY_ID: "change_me"
  AWS_SECRET_ACCESS_KEY: "change_me"
  AWS_S3_BUCKET: "change_me"
  GCLOUD_STORAGE_BUCKET: "change_me"
  GCLOUD_PROJECT_ID: "change_me"
