# Default values for frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  repository: vanvalenlab/kiosk-frontend
  tag: 0.7.0
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  path: /
  annotations: {}
    #kubernetes.io/ingress.class: "nginx"
    #nginx.ingress.kubernetes.io/rewrite-target: /
    #nginx.ingress.kubernetes.io/ssl-redirect: "false"
    #nginx.ingress.kubernetes.io/proxy-body-size: "25m"
  hosts: []
  # - example.com
  tls: []
  #  - hosts:
  #      - example.com
  #    secretName: tls-cert

service:
  type: "ClusterIP"

  httpIngressEnabled: true
  internalHttpPort: 8080
  httpTargetPort: 8080
  externalHttpPort: 8080

  httpsIngressEnabled: false
  internalHttpsPort: 8443
  httpsTargetPort: 8443
  externalHttpsPort: 8443

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics: {}

resources: {}

env:
  JOB_TYPES: "segmentation,tracking"
  PORT: "8080"
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  MODEL_PREFIX: "models/"
  AWS_REGION: "us-east-1"

secrets:
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  GCLOUD_PROJECT_ID: ""
  STORAGE_BUCKET: "s3://example-bucket"
